.Formulario{
  background-color:#212427 ;
  border-radius: 12px;
  height: 95vh;
  overflow-y: auto;
  padding-left: 80px;
  padding-right: 80px;
  padding-block: 80px;
}

.Formulario >h1{
  color: #F9F9F9;
  font-family: "Baloo 2", sans-serif;
  font-size: 28px;
  line-height: auto;
  font-weight: bold;
}



.sobre-evento{
  margin-top: 40px;
  display: flex;
  gap: 12px;
}

.sobre-evento > h3{
color:#F9F9F9 ;
font-family: "Baloo 2", sans-serif;
  font-size: 18px;
  line-height: auto;
  font-weight: bold;
} 


/*teste*/

.form-sobre-evento {
 display: grid;
 grid-template-areas:
  "titulo titulo"
    "inicio  fim"
    "tipo   local"
    "descricao descricao";
    
}
.titulo{
  color: #F9F9F9;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 600;
  grid-area: titulo;
}
.inicio{
   color: #F9F9F9;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 600;
  grid-area: inicio;
}
.fim{
   color: #F9F9F9;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 600;
  grid-area: fim;
}

.local{
   color: #F9F9F9;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 600;
  grid-area: local;
}
.descricao{
  padding-top: 10px;
   color: #F9F9F9;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 600;
  grid-area: descricao;
}


.form-sobre-evento {
  margin-top: 24px;
  display: grid;
  gap: 16px;
  grid-template-areas:
    "titulo titulo"
    "inicio fim"
    "tipo local"
    "descricao descricao";
}

.titulo { grid-area: titulo; }
.inicio { grid-area: inicio; }
.fim { grid-area: fim; }
.tipo { grid-area: tipo; }
.local { grid-area: local; }
.descricao { grid-area: descricao; }

input::placeholder,
textarea::placeholder {
  color: #869198;
}

 input, textarea {
  margin-top: 10px;
  width: 100%;
  padding: 14px;
  border-radius: 8px;
  border: 1px solid #363B40;
  background: #1C1F21;
  color: #869198;
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  font-weight: 500;
}

textarea {
  height: 150px;
  resize: none;
}


.escolhas > span {
  color: #869198;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 500;
}


.tipo-escolhas {
   margin-top: 10px;
  display: flex;
  gap: 12px;
}

.btn-tipo {
  display: flex;
  padding: 14px 120px;
  border: 1px solid #363B40;
  border-radius: 8px;
  cursor: pointer;
  background: #1C1F21;
  transition: .2s;
}

.btn-tipo:hover {
  border-color: #59B2FF;
}

.btn-tipo input {
  display: none;
}
input:focus,
textarea:focus {
  border-color: #59B2FF; 
  outline: none;
}

.btn-tipo:has(input:checked){
  border-color:#59B2FF; ;
}

.personalizacao{
  margin-top: 48px;
  display: flex;
  gap: 12px;
}

.personalizacao span{
  color: #f8f9f9;
  font-family: "Baloo 2", sans-serif;
  font-size: 18px;
  line-height: 20px;
  font-weight: bold;
} 

.cor-principal{
  margin-top: 24px ;
  margin-bottom: 16px;
}

.cor-principal p{
   color: #f8f9f9;
   font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 500;
}
 
.paleta {
  display: flex;
  gap: 12px;
}

.paleta input {
  display: none;
}
.cor {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  background: var(--c);
  border: 8px solid #2D3136;
  cursor: pointer;
  transition: 0.2s;
}
.cor:hover {
  transform: scale(1.1);
  border: 8px solid #383D42;
}
.paleta input:checked + .cor {
  box-shadow: 0 0 0 3px color-mix(in srgb, #59B2FF 100%, transparent);
}

.tema-do-evento h3{
  margin-top: 28px;
 margin-bottom: 16px;
 color: #f8f9f9;
   font-family: "Open Sans", sans-serif;
  font-size: 18px;
  font-weight: 500;
}

.grid-categorias {
  display: grid;
  grid-template-columns: repeat(4, 240px);
  gap: 12px;
}


.grid-categorias input {
  display: none;
}

.card {
  background: #2D3136;
  border-radius: 10px;
  padding: 8px;
  cursor: pointer;
  transition: 0.2s ease;
  box-shadow: inset 0 0 0 1px #2D3136;
}

.card img {
  width: 100%;
  height: 120px;
  object-fit: cover;
  border-radius: 4px;
  display: block;
}

/* texto fora da imagem */
.card span {
  text-align: center;
  display: block;
  margin-top: 10px;
  color: #f8f9f9;
   font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 500;
}

/* hover leve */
.card:hover {
  background: #323842;
}

.grid-categorias input:checked + .card {
  box-shadow:
    inset 0 0 0 2px #59b2ff
}

.upload h3{
 color: #f8f9f9;
   font-family: "Open Sans", sans-serif;
  font-size: 18px;
  font-weight: 500;
  padding-top: 28px;
  padding-bottom:10px ;
}

.upload-box {
  display: flex;
  align-items: center;
  gap: 16px;
  cursor: pointer;
  padding-bottom: 48px;
}

.btn-upload {
  display: flex;
  align-items: center;
  gap: 6px;
  background: #2D3136;
  color: #fff;
  padding: 10px 16px;
  border-radius: 10px;
  font-size: 14px;
  transition: 0.2s;
  
}

.upload-box:hover .btn-upload {
  background: #323842;
}
.file-name {
  color: #9aa0a6;
  font-size: 14px;
}

.dados-contato{
  display: flex;
  align-items: center;
  gap: 12px;

}

.dados-contato span{
  color: #F9F9F9;
  font-family: "Baloo 2", sans-serif;
  font-size: 18px;
  line-height: auto;
  font-weight: bold;

}
.form-final{
  margin-top: 24px;
}
.field {
  display: flex;
  flex-direction: column;
  margin-bottom: 24px;
}

label {
  color: #C8CDD0;
   font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 500;

}
/*  */

input {
  background: #1C1F21;
  border: 1px solid #363B40;
  border-radius: 12px;
  padding: 14px 16px;
  font-size: 16px;
  color: #f8f9f9;
  outline: none;
}

input::placeholder {
  color: #C8CDD0;
}

input:focus {
  border-color: #59B2FF;
}

.row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.checkbox-group {
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.checkbox {
  display: flex;
  align-items: center;
  gap: 12px;
  cursor: pointer;
  font-size: 15px;
  color: #cfcfcf;
}

.checkbox a {
  color: #59B2FF;
  text-decoration: none;
}

.checkbox a:hover {
  text-decoration: underline;
}

/* Esconde o checkbox padrão */
.checkbox input {
  display: none;
}

/* Caixa customizada */
.checkmark {
  width: 20px;
  height: 20px;
  border-radius: 6px;
  border: 1.5px solid #3a3f45;
  background: #1c1f22;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.2s;
}

/* Quando marcado */
.checkbox input:checked + .checkmark {

  border-color: #59B2FF;
}

/* Check ✓ */
.checkbox input:checked + .checkmark::after {
  content: "✓";
  color: #59B2FF;
  font-size: 14px;
  font-weight: bold;
}

/* Hover */
.checkbox:hover .checkmark {
  border-color: #59B2FF;
}

.btn{
  padding-top: 48px;
  display: flex;
  justify-content: center;
}
.btn-primary {
  display: inline-flex;
  align-items: center;
  gap: 12px;
  background-color: #1D6FB6;
  color: #f8f9f9;
font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 500;
  border: none;
  border-radius: 8px;
  padding: 16px 28px;
  cursor: pointer;
}
