.Formulario{
  background-color:#212427 ;
  border-radius: 12px;
  height: 95vh;
  overflow-y: auto;
  padding-inline: 130px;
  padding-block: 80px;
}

.Formulario >h1{
  color: #F9F9F9;
  font-family: "Baloo 2", sans-serif;
  font-size: 28px;
  line-height: auto;
  font-weight: bold;
}



.sobre-evento{
  margin-top: 40px;
  display: flex;
  gap: 12px;
}

.sobre-evento > h3{
color:#F9F9F9 ;
font-family: "Baloo 2", sans-serif;
  font-size: 18px;
  line-height: auto;
  font-weight: bold;
} 


/*teste*/

.form-sobre-evento {
 display: grid;
 grid-template-areas:
  "titulo titulo"
    "inicio  fim"
    "tipo   local"
    "descricao descricao";
    
}
.titulo{
  color: #F9F9F9;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 600;
  grid-area: titulo;
}
.inicio{
   color: #F9F9F9;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 600;
  grid-area: inicio;
}
.fim{
   color: #F9F9F9;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 600;
  grid-area: fim;
}
.tipo{ color: #F9F9F9;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 600;
  grid-area: tipo;
}
.local{
   color: #F9F9F9;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 600;
  grid-area: local;
}
.descricao{
   color: #F9F9F9;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 600;
  grid-area: descricao;
}

.escolhas{
  display: flex;
  gap:4px;
}

/* GRID DO FORMULÁRIO */
.form-sobre-evento {
  margin-top: 24px;
  display: grid;
  gap: 16px;
  grid-template-areas:
    "titulo titulo"
    "inicio fim"
    "tipo local"
    "descricao descricao";
}

.titulo { grid-area: titulo; }
.inicio { grid-area: inicio; }
.fim { grid-area: fim; }
.tipo { grid-area: tipo; }
.local { grid-area: local; }
.descricao { grid-area: descricao; }

input::placeholder,
textarea::placeholder {
  color: #869198;
}

 input, textarea {
  margin-top: 10px;
  width: 100%;
  padding: 14px;
  border-radius: 8px;
  border: 1px solid #363B40;
  background: #1C1F21;
  color: #869198;
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  font-weight: 500;
}

textarea {
  height: 150px;
  resize: none;
}

/* TEXTO DAS OPÇÕES TIPO */
.escolhas > span {
  color: #869198;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 500;
}

/* BOTÕES “TIPO” */
.tipo-escolhas {
   margin-top: 10px;
  display: flex;
  gap: 12px;
}

.btn-tipo {
  display: flex;
  padding: 14px 120px;
  border: 1px solid #363B40;
  border-radius: 8px;
  cursor: pointer;
  background: #1C1F21;
  transition: .2s;
}

.btn-tipo:hover {
  border-color: #59B2FF;
}

.btn-tipo input {
  display: none;
}
input:focus,
textarea:focus {
  border-color: #59B2FF; 
  outline: none;
}

.btn-tipo:has(input:checked){
  border-color:#59B2FF; ;
}